<div class="footer">
    <div class="row m-0">
        <div class="col-12 col-md-3">
            <img src="assets/img/logo/logo2_footer.png" class="img-fluid" alt="">
            <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
        </div>
        <div class="col-12 col-md-3">
            <div class="footer_heading">
                <h5>Quick Links</h5>
            </div>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Offers & Discount</a></li>
                <li><a href="">Get Coupon</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-3">
            <div class="footer_heading">
                <h5>New Products</h5>
            </div>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Offers & Discount</a></li>
                <li><a href="">Get Coupon</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-3">
            <div class="footer_heading">
                <h5>Support</h5>
            </div>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Offers & Discount</a></li>
                <li><a href="">Get Coupon</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <p class="text-center">Developed by sourav barman in Angular 11</p>
</div>
