<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="assets/img/logo/logo.png"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="blog">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="login">
        <input [hidden]="isDisplay" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <li (click)="show()" class="search" title="search"><a><i class="fa fa-search"></i></a></li>
        <li title="login"><a routerLink="login"><i class="fa fa-user"></i></a></li>
        <li (click)="cart()" class="cart1" title="cart"><a routerLink="cart"><i class="fa fa-shopping-cart"></i> <span>0</span></a></li>
      </div>
    </div>
  </nav>
  <router-outlet (activate)="onActive()"></router-outlet>
  <div [hidden]="isCart" class="cart">
    <div class="d-flex">
      <h5>Cart</h5>
      <button (click)="cartClose()" type="button" class="btn btn-close"></button>
    </div>
    <hr/>
    <p>
      <i>cart is empty</i>
    </p>
  </div>