.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}
.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    padding: 15px;
    font-size: 13px;
    background: transparent;
}
.form-contact .form-group {
    margin-bottom: 30px;
}
.boxed-btn:hover {
    background: #ff2020;
    color: #000 !important;
    border: 1px solid #ff2020;
}
.button-contactForm {
    color: #fff;
    border-color: #fdcb9e;
    padding: 12px 25px;
}
.boxed-btn {
    background: #ff2020;
    color: #fff !important;
    display: inline-block;
    padding: 10px 44px;
    font-family: "Josefin Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #ff2020;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-size: 16px;
    color: #2a2a2a;
}
.contact-info .media-body p {
    color: #8a8a8a;
}
.contact-info{

}
.contact-info__icon i{
    font-size: 20px;
}
.container{
    padding: 80px 0px;
}
@media only screen and (max-width: 600px) {
    .container{
        padding: 50px 15px;
    }
    #contactForm{
        margin-bottom: 55px;
    }
}