<div class="container">




    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">New Arrivals</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Price High to Low</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Most Popular</button>
        </li>

        <select class="form-select" aria-label="Default select example">
            <option selected>40 per page</option>
            <option value="1">50 per page</option>
            <option value="2">60 per page</option>
            <option value="3">70 per page</option>
          </select>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="popular_items text-center">
                <div class="row m-0">
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular1.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div> 
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular2.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>   
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular3.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular4.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular5.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular6.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
                </div> 
                <a routerLink="shop"> <button type="button" class="btn ">View all products</button></a>
            </div>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <div class="popular_items text-center">
                <div class="row m-0">
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular6.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div> 
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular5.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>   
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular4.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular3.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular2.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular1.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
                </div> 
                <a routerLink="shop"> <button type="button" class="btn ">View all products</button></a>
            </div>

        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="popular_items text-center">
                <div class="row m-0">
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular2.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div> 
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular1.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>   
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular4.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular3.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular6.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-md-4">
                        <div class="single-popular-items">
                            <div class="popular-img">
                                <img src="assets/img/gallery/popular2.png" class="img-fluid" alt="">
                                <div class="img_cap">
                                    <span>Add to cart</span>
                                </div>
                            </div>
                            <div class="product_price">
                                <h4>Thermo Ball Etip Gloves</h4>
                                <p class="text-danger">$ 45,743</p>
                            </div>
                        </div>
                    </div>
                </div> 
                <a routerLink="shop"> <button type="button" class="btn ">View all products</button></a>
            </div>
        </div>
      </div>


      <div class="row get_know">
        <div class="col-12 col-md-4">
            <i class="fa fa-truck"></i>
            <h5>Free Shipping Method</h5>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
        </div>
        <div class="col-12 col-md-4">
            <i class="fa fa-unlock"></i>
            <h5>Secure Payment System</h5>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
        </div>
        <div class="col-12 col-md-4">
            <i class="fa fa-cc-visa"></i>
            <h5>Secure Payment System</h5>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
        </div>
    </div>




</div>