<div class="hero">
    <div class="row m-0">
        <div class="col-12 col-md-8 col-lg-8 my-auto">
            <h1>Select Your New Perfect Style</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus error exercitationem, corporis deserunt dolore veritatis.</p>
           <a routerLink="shop"> <button type="button" class="btn shop_now">SHOP NOW</button></a>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <img src="assets/img/hero/watch.png" class="img img-fluid d-block mx-auto" alt="">
        </div>
    </div>
</div>
<div class="new_arrival">
    <h1>New Arrivals</h1>
    <div class="row m-0 text-center">
        <div class="col-12 col-md-4">
            <div class="box">
                <img src="assets/img/gallery/new_product1.png" alt="">
            </div>
            <div class="product_name">
                <h2>Thermo Ball Etip Gloves</h2>
                <p class="text-danger">$ 45,743</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="box">
                <img src="assets/img/gallery/new_product2.png" alt="">
            </div>  
            <div class="product_name">
                <h2>Thermo Ball Etip Gloves</h2>
                <p class="text-danger">$ 45,743</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="box">
                <img src="assets/img/gallery/new_product3.png" alt="">
            </div>  
            <div class="product_name">
                <h2>Thermo Ball Etip Gloves</h2>
                <p class="text-danger">$ 45,743</p>
            </div>
        </div>
    </div>
</div>
<div class="collage">
    <div class="row m-0">
        <div class="col-12 col-md-6">
            <img src="assets/img/gallery/gallery1.png" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-md-6 p-0">
            <div class="row m-0">
                <div class="col-12 col-md-6">
                    <img src="assets/img/gallery/gallery2.png" class="img-fluid" alt="">
                </div>
                <div class="col-12 col-md-6">
                            <div class="col-12 col-lg-12">
                            <img src="assets/img/gallery/gallery3.png" class="img-fluid" alt="">
                        </div>
                            <div class="col-12 col-lg-12 mt-4">
                            <img src="assets/img/gallery/gallery4.png" class="img-fluid" alt="">
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popular_items text-center">
    <h1>Popular Items</h1>
    <p class="mb-5">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/> Quis ipsum suspendisse ultrices gravida.</p>
    <div class="row m-0">
        <div class="col-12 col-md-4">
            <div class="single-popular-items">
                <div class="popular-img">
                    <img src="assets/img/gallery/popular1.png" class="img-fluid" alt="">
                    <div class="img_cap">
                        <span>Add to cart</span>
                    </div> 
                </div>
                <div class="product_price">
                    <h4>Thermo Ball Etip Gloves</h4>
                    <p class="text-danger">$ 45,743</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="single-popular-items">
                <div class="popular-img">
                    <img src="assets/img/gallery/popular2.png" class="img-fluid" alt="">
                    <div class="img_cap">
                        <span>Add to cart</span>
                    </div>   
                </div>
                <div class="product_price">
                    <h4>Thermo Ball Etip Gloves</h4>
                    <p class="text-danger">$ 45,743</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="single-popular-items">
                <div class="popular-img">
                    <img src="assets/img/gallery/popular3.png" class="img-fluid" alt="">
                    <div class="img_cap">
                        <span>Add to cart</span>
                    </div>
                </div>
                <div class="product_price">
                    <h4>Thermo Ball Etip Gloves</h4>
                    <p class="text-danger">$ 45,743</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="single-popular-items">
                <div class="popular-img">
                    <img src="assets/img/gallery/popular4.png" class="img-fluid" alt="">
                    <div class="img_cap">
                        <span>Add to cart</span>
                    </div>
                </div>
                <div class="product_price">
                    <h4>Thermo Ball Etip Gloves</h4>
                    <p class="text-danger">$ 45,743</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="single-popular-items">
                <div class="popular-img">
                    <img src="assets/img/gallery/popular5.png" class="img-fluid" alt="">
                    <div class="img_cap">
                        <span>Add to cart</span>
                    </div>
                </div>
                <div class="product_price">
                    <h4>Thermo Ball Etip Gloves</h4>
                    <p class="text-danger">$ 45,743</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="single-popular-items">
                <div class="popular-img">
                    <img src="assets/img/gallery/popular6.png" class="img-fluid" alt="">
                    <div class="img_cap">
                        <span>Add to cart</span>
                    </div>
                </div>
                <div class="product_price">
                    <h4>Thermo Ball Etip Gloves</h4>
                    <p class="text-danger">$ 45,743</p>
                </div>
            </div>
        </div>
    </div>

   <a routerLink="shop"> <button type="button" class="btn ">View all products</button></a>
</div>

<div class="watch_of_choice">
    <div class="row m-0">
        <div class="col-12 col-md-6 order-last order-md-first my-auto">
            <h1>Watch of Choice</h1>
            <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
           <a routerLink="shop"> <button type="button" class="btn">SHOW WATCHES</button></a>
        </div>
        <div class="col-12 col-md-6 order-first order-md-last">
            <img src="assets/img/gallery/choce_watch1.png" class="img-fluid" alt="">
        </div>
    </div>

    <div class="row m-0">
        <div class="col-12 col-md-6">
            <img src="assets/img/gallery/choce_watch2.png" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-md-6 my-auto">
            <h1>Watch of Choice</h1>
            <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
            <a routerLink="shop"> <button type="button" class="btn">SHOW WATCHES</button></a>
        </div>
    </div>

    <div class="row get_know">
        <div class="col-12 col-md-4">
            <i class="fa fa-truck"></i>
            <h5>Free Shipping Method</h5>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
        </div>
        <div class="col-12 col-md-4">
            <i class="fa fa-unlock"></i>
            <h5>Secure Payment System</h5>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
        </div>
        <div class="col-12 col-md-4">
            <i class="fa fa-cc-visa"></i>
            <h5>Secure Payment System</h5>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
        </div>
    </div>
</div>